{% extends "layouts/base-admin.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row mt-2 ">
  <div class="col-lg-8 m-auto">
    <div class="card card-chart p-2 m-3" style=" max-width:90vw;">
      <div class="row m-ato">
        <div class="col-sm-4 text-left">
          <h2 class="card-title text-white">Revenue</h2>
          <h5 class="card-title ">Your monthly total after expenses</h>
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <canvas id="CountryChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!---Actions--->


<div class="row m-2">

  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header ">
        <h6 class="title d-inline">Tasks</h6>
      </div>

      <div class="card-body" style="">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              {% for event in events%}
             
             {% if event.event_type == 'maintenance' %}
              <tr>
                <td>
                  

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{event.car}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title"> Event of {{event}} for {{event.car}}</p>
                  <p class="text-muted">{{event.date}}- {{event.event_type}}</p>
                </td>
                <td class="td-actions text-right">
                 
                  <button type="button" rel="tooltip" title=""  data-toggle="modal" data-target="#exampleModal"
                  class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>






  <div class="col-lg-6 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Events</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Event Type
                </th>
                <th>
                  Event
                </th>
                <th>
                  Event Description
                </th>
                <th>
                  Date
                </th>
              </tr>
            </thead>
            <tbody>
              {% for event in events %}
              <tr>
                <td>{{event.event_type}}</td>
                <td>{{event.car.car_brand}}</td>
                <td>
                  {% if event.event_type == 'revenue' %}
                    {{ event.car.car_model }} has made {{event.revenue}}
                  {% endif %}

                  {% if event.event_type == 'accident' %}
                  {{ event.car.car_model }} has suffered an accident on {{event.date}}
                  {% endif %}

                  {% if event.event_type == 'maintenance' %}
                  {{ event.car.car_model }} needs your attention for {{event.type}}
                  {% endif %}

                </td>
                <td>{{event.date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

  function getData() {
    return new Promise((resolve, rej) => {
      $.ajax(

        {
          method: "GET",
          url: '/api/revenue',
          success: function (res) {
            return resolve(res)
          },
          error: function (error_data) {
            console.log("error")
            console.log(error_data)
          }
        }
      )
    })
  }

  async function loadDash() {
    let dataPoints = await getData()
    var ctx = document.getElementById("CountryChart").getContext("2d");


    const data = {
      labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      datasets: {
        label: "Data",
        fill: true,
        // backgroundColor: gradientStroke,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: [],
      }
    }

    for (d of dataPoints) {
      data.datasets.data.push(d.revenue)
    }

    var myChart = new Chart(ctx, {
      type: 'bar',
      responsive: true,

      options: {
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        }
      },
      data: {
        labels: data.labels,
        datasets: [{
          label: "earnings",
          fill: true,
          backgroundColor: '#9D4763',
          //hoverBackgroundColor: gradientStroke,
          // borderColor: '#1f8ef1',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          data: data.datasets.data,
        }]
      },
      options: {
        scales: {

          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    console.log(dataPoints, data)
  }

  /*

  loadDash()
    const data = {
        labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
        datasets: {
          label: "Data",
          fill: true,
          // backgroundColor: gradientStroke,
          borderColor: '#d048b6',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#d048b6',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#d048b6',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: [],
        }
      };


  
    
  
    if (data.datasets.data.length > 1){
      console.log("hi")
    }
  
  




  var myChart = new Chart(ctx, {
    type: 'bar',
    responsive: true,

    options: {
      legend: {
        display: false
      },
      tooltips: {
        enabled: false
      }
    },
    data: {
      labels: data.labels,
      datasets: [{
        label: "earnings",
        fill: true,
        backgroundColor: '#9D4763',
        //hoverBackgroundColor: gradientStroke,
        // borderColor: '#1f8ef1',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        data: data.datasets.data,
      }]
    },
    options: {
      scales: {

        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });

*/


  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    // demo.initDashboardPageCharts();
    loadDash()

  });
</script>

{% endblock javascripts %}