{% extends "layouts/base-admin.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row mt-5 ">
  <div class="col-lg-8 m-auto">
    <div class="card card-chart p-2 m-3" style="overflow: scroll;">
      <div class="row m-ato">
        <div class="col-sm-8 text-left">
          <h2 class="card-title text-white">Revenue</h2>
          <h5 class="card-title ">Your monthly total after expenses</h>
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <canvas id="CountryChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!---Actions--->


<div class="row m-2">
  <!--
  <div class="col-lg-6 col-md-12">
    <div class="card card-tasks">
      <div class="card-header ">
        <h6 class="title d-inline">Tasks(5)</h6>
        <p class="card-category d-inline">today</p> 
        <div class="dropdown">
          <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
            <i class="tim-icons icon-settings-gear-63"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#pablo">Action</a>
            <a class="dropdown-item" href="#pablo">Another action</a>
            <a class="dropdown-item" href="#pablo">Something else</a>
          </div>
        </div>
      </div>
      
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Update the Documentation</p>
                  <p class="text-muted">Dwuamish Head, Seattle, WA 8:47 AM</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" checked="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">GDPR Compliance</p>
                  <p class="text-muted">The GDPR is a regulation that requires businesses to protect the personal data and privacy of Europe citizens for transactions that occur within EU member states.</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Solve the issues</p>
                  <p class="text-muted">Fifty percent of all respondents said they would be more likely to shop at a company </p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Release v2.0.0</p>
                  <p class="text-muted">Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Export the processed files</p>
                  <p class="text-muted">The report also shows that consumers will not easily forgive a company once a breach exposing their personal data occurs. </p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Arival at export process</p>
                  <p class="text-muted">Capitol Hill, Seattle, WA 12:34 AM</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
-->
  <div class="col-lg-6 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Events</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Event Type
                </th>
                <th>
                  Event
                </th>
                <th>
                 Date
                </th>
              </tr>
            </thead>
            <tbody>
              {% for event in events %}
              <tr>
                <td>{{event.event_type}}</td>
                <td>{{event.car.car_brand}}</td>
                <td>{{event.date}}</td>
              </tr>          
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $.ajax(
    {
    method: "GET",
    url: 'http://localhost:8000/home/resources',
    success: function (data) {
      console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
  }
  )

  var data = {
    labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
    datasets: [{
      label: "Data",
      fill: true,
      // backgroundColor: gradientStroke,
      borderColor: '#d048b6',
      borderWidth: 2,
      borderDash: [],
      borderDashOffset: 0.0,
      pointBackgroundColor: '#d048b6',
      pointBorderColor: 'rgba(255,255,255,0)',
      pointHoverBackgroundColor: '#d048b6',
      pointBorderWidth: 20,
      pointHoverRadius: 4,
      pointHoverBorderWidth: 15,
      pointRadius: 4,
      data: [80, 100, 70, 80, 120, 80],
    }]
  };

  var ctx = document.getElementById("CountryChart").getContext("2d");

  data = {
    labels:['May', 'Jun', 'Jul', 'Aug','Sep' ],
    points:[500, 600,800,600,700]
  }


  var myChart = new Chart(ctx, {
    type: 'bar',
    responsive: true,
    label:{
      display:false
    },
    legend: {
      display: false,
      position: 'bottom'
    },
    data: {
      labels: data.labels,
      datasets: [{
        label: "earnings",
        fill: true,
        backgroundColor: '#9C3555',
        //hoverBackgroundColor: gradientStroke,
        // borderColor: '#1f8ef1',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        data: data.points,
      }]
    },
    options: {
      scales:{
        y:{
          display:false
        }
      }
    }
  });




  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    // demo.initDashboardPageCharts();


  });
</script>

{% endblock javascripts %}